@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: Satoshi-Black;
  src: url("../fonts/Satoshi-Black.woff2");
}

@font-face{
  font-family: Satoshi-Reg;
  src: url("../fonts/Satoshi-Regular.woff2");
}